
*{
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

header{
 background: url(./img/6028122.png);
position: relative;
 background-size: cover;
    min-height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
    background-color: rgba(0, 0, 0, 0.5);
}
header *{
    z-index: 1;
}

.log{
    width: 420px;
   margin-bottom: 100px;
background: linear-gradient(rgb(147, 0, 122) , rgba(99, 0, 101, 0.553) , rgba(90, 0, 80, 0.36));
border-radius: 0 40px;
color:#fff;
}

.title_log{
    font-size: 30px;
    margin-bottom: 15px;
    font-style: italic;
color:rgb(255, 255, 255);
}

.gif img{

  margin-left: 19vh;
    width:145px;
    transition: 0.3s;
}
.gif img:hover{
   


}
.log h1{
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.log input:not(:last-child){
    border: 2px solid rgb(0, 0, 0 , 0.2);
    border-radius: 40px;
    background: transparent;
    width: 100%;
    height: 50px;
    margin: 25px 0;
    padding: 0 0 0 18px; 
    font-size: 16px;
    color: #fff;
}
.btn input{
    margin: 0 30px 30px 140px;
    border-radius: 15px;
    width: 30%;
    height: 35px;
    text-align: center;
  padding:5px ;
  font-size: larger;
  transition: 0.7s;
  
}

.btn input:hover{
    border-bottom: 3px solid  yellow;
    background: none;
    border-radius: 0px;
    color: #fff;
   
}


.log .email input::placeholder{
   
    color: #ffffff9b;
}

.log .pwd input::placeholder{
    color: #ffffff9b;
}








